.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 770px) {
  .title {
    display: block;
  }
}
.single-card__button {
  display: flex;
  align-items: center;
  margin-right: 16px;
}